<%- include('partials/header', { query: '' }) %> <% if (video) { %>
    <h1><%= video.title %></h1>
    <p>Uploaded: <%= new Date(video.uploaded).toLocaleString('id-ID') %></p>
     <p>Views: <%= video.views %></p>


     <% if (video.embed_url) { %>
     <div class="embed-responsive embed-responsive-16by9 mb-3">
          <!-- <iframe width="600" height="480" src="https://do7go.com/e/rzjmltc31k3l" scrolling="no" frameborder="0" allowfullscreen="true"></iframe> -->
          <iframe src="<%= video.embed_url %>" frameborder="0" allowfullscreen></iframe>
     </div>
     <% } else { %>
         <p class="alert alert-warning">URL Embed tidak tersedia untuk video ini.</p>
     <% } %>


     <% if (video.download_url) { %>
     <a href="<%= video.download_url %>" class="btn btn-success" target="_blank" rel="noopener noreferrer">
         Download Video
     </a>
     <% } else { %>
          <p>Link download tidak tersedia.</p>
     <% } %>


<% } else { %>
    <p class="alert alert-danger">Detail video tidak dapat dimuat.</p>
<% } %>

<%- include('partials/footer') %>